*.doc*
*.pdf
*.png
*.RData
*.Rhistory
*.rds
*.xls*
*.sas7bdat
*.dta
data/
output/
figs/
*.html
*cache/
*.rdb
*.rdx
*.jpg
*.jpeg
.Rproj.user
.Rhistory
.RData
.Ruserdata
figs/
*.docx
*.html
data/
output/
